{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoAngler</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Roboto:wght@300;400&family=Montserrat:ital,wght@0,400;0,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/discover.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'css/fishing_cards.css' %}">
    <link rel="stylesheet" href="{% static 'css/fishing_details.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    
</head>
<body>

<nav class="navbar ">
    <div class="logo">
        <a href="{% url 'index' %}" class="logo-img">GeoAngler</a>
    </div>
    
    {% if user.is_authenticated %}
    <ul class="nav-links">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle">Locations ▾</a>
            <div class="dropdown-content">
                <div class="dropdown-header">Top Rivers</div>
                {% for river in nav_rivers|slice:3 %}
                    <a href="{% url 'place_detail' river.slug %}">{{ river.name }}</a>
                {% endfor %}

                <div class="dropdown-header">Top Lakes</div>
                {% for lake in nav_lakes|slice:3 %}
                    <a href="{% url 'place_detail' lake.slug %}">{{ lake.name }}</a>
                {% endfor %}

                <div class="dropdown-header">Top Swamps</div>
                {% for swamp in nav_swamps|slice:3 %}
                    <a href="{% url 'place_detail' swamp.slug %}">{{ swamp.name }}</a>
                {% endfor %}
            </div>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle">Fishing Methods ▾</a>
            <div class="dropdown-content">
                {% for method in nav_methods %}
                    <a href="{% url 'method_detail' method.slug %}">{{ method.name }}</a>
                {% endfor %}
            </div>
        </li>
    </ul>

    <div class="user-menu">
        <span class="user-greeting">Hello, dear Fisher {{ user.username }} !</span>
        <form action="{% url 'logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="logout-link">Logout</button>
        </form>
    </div>
    {% endif %}
</nav>

<main class="container">
    {% block content %}
    {% endblock %}
</main>

<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-section">
            <h4>Connections</h4>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About us</a></li>
                <li><a href="{% url 'advices' %}">Fishing advices</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>Contacts</h4>
            <ul>
                <li>Phone: +359-877-093-177</li>
                <li>Adress: Pleven City, Bulgaria</li>
                <li>Email: ivailoiliev89@gmail.com</li>
            </ul>
        </div>
    </div>
</footer>

<script src="{% static 'js/main.js' %}"></script>

</body>
</html>